# Binaries
main.exe
*.exe
*.out
*.test

# Git stuff
.git
.gitignore

# Config
.env
.air.toml


# Editor/IDE settings
.vscode
.idea
*.swp

# OS junk files
.DS_Store
Thumbs.db

# Test artifacts
*.log
coverage.out
*.prof

# Build cache
/tmp